@import 'bootstrap';

/* Universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: both;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

#logo {
	position: relative;
	top: 15px;
}